	.overdue, .late {
		color: white;
	}

	.overdue a, .late a {
		color: white;
	}

	.tablesorter-blue tbody tr.pastdue.even > td,
	.tablesorter-blue tbody tr.pastdue.odd > td {
		background-color: yellow;
	}

	.tablesorter-blue tbody tr.overdue.even > td,
	.tablesorter-blue tbody tr.overdue.odd > td {
		background-color: orange;
		color: white;
	}

	.tablesorter-blue tbody tr.late.odd > td, 
	.tablesorter-blue tbody tr.late.even > td {
		background-color: maroon;
		color: white;
	}

	.filtered {
		display: none;
	}

	input.tablesorter-filter {
		width: 100%;
	}

	.tablesorter-filter:disabled {
		display: none;
	}

@media print{
	@page {
		size: landscape;
	}

	.tablesorter-filter-row, .tablesorter-pager, .no-print, .newrow {
		display: none !important;
	}
}
