<style>
	.overdue, .late {
		color: white;
	}

	.overdue a, .late a {
		color: white;
	}

	.pastdue.odd {
		background: yellow;
	}

	.pastdue.even {
		background: #FFFFE0;
	}

	.overdue.odd {
		background: orange;
	}

	.late.odd {
		background: red;
	}

	.filtered {
		display: none;
	}

	input.tablesorter-filter {
		width: 100%;
	}

	.tablesorter-filter:disabled {
		display: none;
	}
</style>
