	.overdue, .late {
		//color: black;
	}

	.overdue a, .late a {
		//color: black;
	}

	.tablesorter-blue tbody tr.due.odd > td,
	.tablesorter-blue tbody tr.pastdue.odd > td,
	.tablesorter-blue tbody tr.overdue.odd > td,
	.tablesorter-blue tbody tr.late.odd > td {
		//opacity: 0.7;
	}

	.tablesorter-blue tbody tr.due.odd > td, 
	.tablesorter-blue tbody tr.due.even > td {
		background-color: rgba(217, 234, 211);
		color: black;
	}

	.tablesorter-blue tbody tr.pastdue.even > td,
	.tablesorter-blue tbody tr.pastdue.odd > td {
		background-color: rgb(255, 242, 204);
		color: black;
	}

	.tablesorter-blue tbody tr.overdue.even > td,
	.tablesorter-blue tbody tr.overdue.odd > td {
		background-color: rgb(252, 229, 205);
		color: black;
	}

	.tablesorter-blue tbody tr.late.odd > td, 
	.tablesorter-blue tbody tr.late.even > td {
		background-color: rgba(244, 204, 204);
		color: black;
	}

	.filtered {
		display: none;
	}

	input.tablesorter-filter {
		width: 100%;
	}

	.tablesorter-filter:disabled {
		display: none;
	}

@media print{
	@page {
		size: landscape;
	}

	.tablesorter-filter-row, .tablesorter-pager, .no-print, .newrow {
		display: none !important;
	}
}
